* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background: linear-gradient(90deg, rgba(55,0,86,1) 19%, rgba(0,32,86,1) 49%, rgba(0,0,0,1) 83%);
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#stopWatch {
  margin: 6% auto 3%;
  width: 400px;
  height: 500px;
  background-image: url("wtc.jpeg");
  background-size: cover;
  border: 3px groove rgb(255, 255, 255);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 20px;
  border-radius: 8px;
  box-shadow: rgb(255, 255, 255) 0px 1px 4px;
}

.button-25 {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  border: 1px solid #2a8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  outline: 0;
  padding: 5px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 90px;
}

.button-25:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}
.digit {
  font-size: 50px;
  text-align: center;
}
#timeDs {
  margin: 50px 0;
}
#buttons {
  margin: 20px 0;
}
.button-25 {
  margin: 0 5px;
}
#laps {
  width: 150px;
  height: 250px;
  overflow: scroll;
  scrollbar-width: none;
  box-shadow: rgba(132, 132, 247, 0.527) 0px 50px 100px -20px,
    rgba(124, 170, 255, 0.493) 0px 30px 60px -30px,
    rgba(88, 171, 255, 0.497) 0px -2px 6px 0px inset;
  margin-top: 20px;
  text-align: center;
  color: rgb(251, 184, 84);
  visibility: hidden;
}
